/**/bin/Debug/net5.0/**
/**/obj/Debug/net5.0/**
/.vs/leetCode/v16/Server/sqlite3/**
/**/obj/**
/**/obj/**
/leetCode.IsPolindrom/obj/leetCode.IsPolindrom.csproj.nuget.dgspec.json
/leetCode.IsPolindrom/obj/leetCode.IsPolindrom.csproj.nuget.g.props
/leetCode.IsPolindrom/obj/project.assets.json
/leetCode.LongestCommonPrefix/obj/leetCode.LongestCommonPrefix.csproj.nuget.dgspec.json
/leetCode.LongestCommonPrefix/obj/leetCode.LongestCommonPrefix.csproj.nuget.g.props
/leetCode.LongestCommonPrefix/obj/project.assets.json
/leetCode.MultiplyStrings/obj/leetCode.MultiplyStrings.csproj.nuget.dgspec.json
/leetCode.MultiplyStrings/obj/leetCode.MultiplyStrings.csproj.nuget.g.props
/leetCode.MultiplyStrings/obj/project.assets.json
/leetCode.PlusOne/obj/leetCode.PlusOne.csproj.nuget.dgspec.json
/leetCode.PlusOne/obj/leetCode.PlusOne.csproj.nuget.g.props
/leetCode.PlusOne/obj/project.assets.json
/leetCode.TwoSum/obj/leetCode.TwoSum.csproj.nuget.dgspec.json
/leetCode.TwoSum/obj/leetCode.TwoSum.csproj.nuget.g.props
/leetCode.TwoSum/obj/project.assets.json
/ConsoleApp1/bin/Debug/**
/ValidParentheses/bin/Debug/**
/**/bin/Debug/netcoreapp3.1/**
